<div id="<%= dom_id drawing %>">
  <p>
    <strong>Mypart:</strong>
    <%= drawing.mypart_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= drawing.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= drawing.image %>
  </p>

</div>
