<div id="<%= dom_id script %>">
  <p>
    <strong>Programminglanguage:</strong>
    <%= script.programminglanguage_id %>
  </p>

  <p>
    <strong>Mypart:</strong>
    <%= script.mypart_id %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= script.filename %>
  </p>

</div>
