<p style="color: green"><%= notice %></p>

<h1>Scripts</h1>

<div id="scripts">
  <% @scripts.each do |script| %>
    <%= render script %>
    <p>
      <%= link_to "Show this script", script %>
    </p>
  <% end %>
</div>

<%= link_to "New script", new_script_path %>
