<div id="<%= dom_id mot %>">
  <p>
    <strong>Mypart:</strong>
    <%= mot.mypart_id %>
  </p>

  <p>
    <strong>Mot:</strong>
    <%= mot.mot %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mot.description %>
  </p>

</div>
